In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [21]:
# run this to get rendering outside of jupyter
%matplotlib auto

Using matplotlib backend: MacOSX

In [10]:
# run this to get rendering in the notebook
%matplotlib inline

In [11]:
# this is a comment
dat = pd.DataFrame.from_csv('/Users/birdy/Documents/workspace/VEGAS/DecisionMakingResultsLCOE.txt', index_col=None, sep=' ')

/Users/birdy/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [12]:
dat.shape

(441, 5)

In [13]:
dat['reactor_build_decision'].unique()

array([0, 1, 2, 3])

In [14]:
dat.groupby(['reactor_build_decision','htgr_capital_cost']).mean()

                                          sfr_capital_cost    g_lcoe    u_lcoe
reactor_build_decision htgr_capital_cost
0                      0                                 1  0.415166  9.716755
                       1                                 1  0.415166  9.716755
                       2                                 1  0.415166  9.716755
1                      0                                 1  0.301610  9.313882
                       1                                 1  0.301610  9.503287
                       2                                 1  0.301610  9.692639
2                      0                                 1  0.385699  9.716187
                       1                                 1  0.385699  9.716187
                       2                                 1  0.385699  9.716187
3                      0                                 1  0.304503  9.382353
                       1                                 1  0.304503  9.538982
                       2                                 1  0.304503  9.695560

In [15]:
dat.groupby(['reactor_build_decision','htgr_capital_cost']).std()

                                          sfr_capital_cost    g_lcoe    u_lcoe
reactor_build_decision htgr_capital_cost
0                      0                          1.000000  0.000000  0.000000
                       1                          1.000000  0.000000  0.000000
                       2                          1.000000  0.000000  0.000000
1                      0                          0.830455  0.048809  0.185563
                       1                          0.830455  0.048809  0.102809
                       2                          0.830455  0.048809  0.032918
2                      0                          0.840168  0.016321  0.009831
                       1                          0.840168  0.016321  0.009831
                       2                          0.840168  0.016321  0.009831
3                      0                          0.820783  0.043451  0.180758
                       1                          0.820783  0.043451  0.099900
                       2                          0.820783  0.043451  0.032620

In [16]:
print dat.groupby(['reactor_build_decision','htgr_capital_cost']).mean().to_latex()

\begin{tabular}{llrrr}
\toprule
  &   &  sfr\_capital\_cost &    g\_lcoe &    u\_lcoe \\
reactor\_build\_decision & htgr\_capital\_cost &                   &           &           \\
\midrule
0 & 0 &                 1 &  0.415166 &  9.716755 \\
  & 1 &                 1 &  0.415166 &  9.716755 \\
  & 2 &                 1 &  0.415166 &  9.716755 \\
1 & 0 &                 1 &  0.301610 &  9.313882 \\
  & 1 &                 1 &  0.301610 &  9.503287 \\
  & 2 &                 1 &  0.301610 &  9.692639 \\
2 & 0 &                 1 &  0.385699 &  9.716187 \\
  & 1 &                 1 &  0.385699 &  9.716187 \\
  & 2 &                 1 &  0.385699 &  9.716187 \\
3 & 0 &                 1 &  0.304503 &  9.382353 \\
  & 1 &                 1 &  0.304503 &  9.538982 \\
  & 2 &                 1 &  0.304503 &  9.695560 \\
\bottomrule
\end{tabular}

In [22]:
# set styles
sns.set(style="whitegrid", palette="dark", color_codes=True, context='talk')

# Draw a nested violinplot and split the violins for easier comparison
g = sns.lmplot(x="g_lcoe", y="u_lcoe", hue="reactor_build_decision",
               truncate=True, size=5, data=dat)

sns.despine(left=True)

plt.show()