In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [7]:
dat = pd.DataFrame.from_csv('/Users/birdy/Documents/workspace/VEGAS/DMResults_g_lcoe.txt', index_col=None, sep=' ')

/Users/birdy/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [8]:
dat.head(10)

,reactor_build_decision,htgr_capital_cost,sfr_capital_cost,0,1,2,3,4,5,6,...,77,78,79,80,81,82,83,84,85,Unnamed: 89
0,0,0,0,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
1,0,0,1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
2,0,0,2,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
3,0,1,0,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
4,0,1,1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
5,0,1,2,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
6,0,2,0,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
7,0,2,1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
8,0,2,2,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,NaN
9,1,0,0,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.395798,0.396089,0.396442,0.396781,0.399089,0.401083,0.402878,0.404790,0.406636,NaN

In [20]:
dat.shape

(441, 90)

In [46]:
first_slice = dat.iloc[0:441,0:3]
first_slice.head(10)

   reactor_build_decision  htgr_capital_cost  sfr_capital_cost
0                       0                  0                 0
1                       0                  0                 1
2                       0                  0                 2
3                       0                  1                 0
4                       0                  1                 1
5                       0                  1                 2
6                       0                  2                 0
7                       0                  2                 1
8                       0                  2                 2
9                       1                  0                 0

In [47]:
second_slice = dat.iloc[0:441,4:89]
second_slice.head(10)

,1,2,3,4,5,6,7,8,9,10,...,76,77,78,79,80,81,82,83,84,85
0,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
2,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
3,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
4,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
5,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
6,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
7,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
8,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
9,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.395421,0.395798,0.396089,0.396442,0.396781,0.399089,0.401083,0.402878,0.404790,0.406636

In [43]:
dat_temp = dat.groupby(['reactor_build_decision']).median()
dat_median = dat_temp.iloc[0:4, 0:88]
dat_median
# want to plot the median for each reactor build decision

,htgr_capital_cost,sfr_capital_cost,0,1,2,3,4,5,6,7,...,76,77,78,79,80,81,82,83,84,85
reactor_build_decision,,,,,,,,,,,,,,,,,,,,,
0,1,1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166
1,1,1,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,0.415166,...,0.262294,0.262974,0.265704,0.268253,0.269947,0.270498,0.270642,0.270633,0.271219,0.271340
2,1,1,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,...,0.407944,0.408076,0.408081,0.408039,0.408162,0.408415,0.408770,0.409228,0.409890,0.410066
3,1,1,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,0.352105,...,0.264296,0.265243,0.267903,0.270627,0.272687,0.272639,0.272614,0.272402,0.272686,0.272655

In [45]:
dat_temp = dat.groupby(['reactor_build_decision']).std()
dat_std = dat_temp.iloc[0:4, 0:88]
dat_std

,htgr_capital_cost,sfr_capital_cost,0,1,2,3,4,5,6,7,...,76,77,78,79,80,81,82,83,84,85
reactor_build_decision,,,,,,,,,,,,,,,,,,,,,
0,0.866025,0.866025,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.821071,0.821071,0.031066,0.031066,0.031066,0.031066,0.031066,0.031066,0.031066,0.024967,...,0.114090,0.116882,0.119610,0.122299,0.124855,0.125793,0.126790,0.127733,0.128623,0.129549
2,0.824163,0.824163,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005304,0.005254,0.005231,0.005192,0.005187,0.005153,0.005215,0.005354,0.005525,0.005625
3,0.817918,0.817918,0.000000,0.000000,0.010309,0.020892,0.020892,0.020892,0.022480,0.027406,...,0.111760,0.114605,0.117421,0.120347,0.122942,0.123928,0.124932,0.125777,0.126618,0.127468